<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <h1>One List Sign in:</h1>
    </header>
    <form action="/signin" method="get">
      <button>SIGN IN</button>
    </form>
    <form action="/signup" method="get">
      <button>SIGN UP</button>
    </form>
  </body>
</html>
