<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <h1>One List Sign in:</h1>
    </header>
    <form action="/userHome" method="post">
      <input type="text" name="name" placeholder="USERNAME" required>
      <input type="text" name="password" placeholder="PASSWORD" required>
      <button>SIGN IN</button>
    </form>
  </body>
</html>
